/* select all section */
*{
  margin: 0;
  padding: 0;
}
/* style the header section */
header{
 background: rgba(229, 84, 115, 0.10);
 height:100vh;
 display: flex;
 justify-content: space-between;

}
.text-flower{
  margin: 250px 200px 200px 197px;
}
.heading-flower{
  padding-bottom: 20px;
}
.headin-tag{
  color: #272727;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 20px;
}
/* primary title  */
.primary-titale{
  color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 30px;
padding-bottom: 20px;

}
/* primary button */
.primary-button{
  border-radius: 8px;
  background: #E55473;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px ;
}
/* my image part  */
.image{
  width: 495px;
height: 700px;
padding: 0 60px;
 
}
/* main section part text */
.text-main{
  text-align: center;
}
.first-section-main{
  margin-top: 90px;
  margin-bottom: 50px;
}
/* heading part of main  */
.heading-main{
  font-size: 40px;
}
/* primary-div style */
.primary-div{
  width: 264px;
 height: 320px;
  border-radius: 300px 300px 0px 0px;
 background: rgba(167, 33, 98, 0.15);
 margin-right: 20px;
 
 
 
}
.sub-section-1{
  display: flex;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.link{
  text-align: center;
  color: #272727
}
.primary-divb{
  width: 264px;
 height: 320px;
 margin-right: 20px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);

}
.primary-divc{
  width: 264px;
 height: 320px;
 margin-right: 20px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}

.test{
 
  width: 50%;
  
}